*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

section,
footer {
    flex-shrink: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    position: relative;
    z-index: 5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 1rem;
}
a:hover{
    color: blue;
}

header{
    background-color: #F5F5F5;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0;
    padding: 0 2rem;
    width: 100%;
    z-index: 100;
}

.navbar{
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.action-btn {
    padding: 7px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.8s;
}

.btn{
    color: blue;
}
.btn:hover{
    color: #8F0F7A;
}




a button {
    background-color: transparent;
    border: none;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    color: blue;
    font-size: 26px;
}

.icons {
    font-size: 2.8rem;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    color: blue;
    /* z-index: -1; */
}


/* dropdown_menu */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    height: 600px;
    background: #260620;
    backdrop-filter: blur(15px);
    transition: 0.5s;
    overflow-x: hidden;
}
#menulist .dropdown_menu{
    overflow-x: hidden;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu a{
    color: #fff;
}
.dropdown_menu a:hover{
    color: blue;
}
.dropdown_menu .action-btns{
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.action-btns a{
    color: #fff;
}

/* *************section*one*************** */
.section-one {
    padding-top: 70px;
    margin-inline: auto;
}

.section-one-container {
    display: flex;
    flex-grow: row wrap;
    position: relative;
    max-width: 100%;
}

.section-1-cont-1 {
    background-color: #8F0F7A;
    width: 75%;
    height: 520px;
    position: relative;
}

.section-1-cont-2 {
    position: relative;
    background-color: #F6E8F4;
    width: 27%;
    height: 520px;
}

.image-container {
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 435px;
    box-shadow: 0px 0px 5px 0px;
    z-index: 50;
    position: absolute;
    top: 45px;
    left: 0;
    transform: translateX(-50%);
}

.image-container img {
    width: 280px;
    height: 435px;
}
.cont-1-desc {
    max-width: 600px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-inline: auto;
    margin-top: 60px;
    /* overflow-x: hidden; */
}


.cont-1-desc h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 56.69px;
    color: #f7f7f7;
    padding-bottom: 20px;
}

.cont-1-desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 470px;
    color: #f7f7f7;
}

.cont-1-desc button {
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 2px;
    border: none;
}

.logo2 {
    width: 80px;
    height: 30px;
}

/* ****************section two********************** */
.section-two {
    background-color: #F6E8F4;
    height: 460px;
}

.section-2-container {
    display: flex;
    flex-grow: row wrap;
    justify-content: space-around;
    padding-top: 100px;
    width: 80%;
    margin-inline: auto;
}

.section-2-cont-1-desc {
    display: flex;
    flex-grow: row wrap;
    flex-direction: column;
    gap: 25px;
    width: 430px;
    margin-left: 50px;
}

.section-2-cont-1-desc h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.section-2-cont-1-desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.section-2-cont-1-desc button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    background-color: #8F0F7A;
    color: #f7f7f7;
    border: none;
    padding: 5px 17px;
    border-radius: 10px;
}

.para {
    color: #8F0F7A;
}

.section-2-image {
    margin-top: 30px;
    width: 230px;
    height: 230px;
    box-shadow: 2px 2px 5px 1px #21051C;
    border-radius: 50%;
}


.section-2-image img {
    width: 100%;
    height: 100%;
}

/* ************section-three********************** */
.section-three {
    height: 500px;
    max-width: 100%;
    background-color: #21051C;
    position: relative;
}

.girly-image2 {
    position: absolute;
    top: 270px;
    left: 310px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px #8F0F7A;
    border-radius: 50%;
}

.girly-image2 img {
    width: 100%;
    height: 100%;
}

.girly-image1 {
    width: 280px;
    height: 280px;
    box-shadow: 1px 1px 1px 1px #8F0F7A;
    border-radius: 50%;
    margin-left: 30px;
}

.girly-image1 img {
    width: 100%;
    height: 100%;
}

.section-3-container {
    display: flex;
    flex-grow: row wrap;
    justify-content: space-around;
    width: 90%;
    margin-inline: auto;
    padding-top: 100px;
    /* border: 1px solid red; */
}

.section-3-cont-2-desc {
    display: flex;
    flex-grow: row wrap;
    flex-direction: column;
    gap: 25px;
    width: 380px;
    padding-top: 80px;
}

.section-3-cont-2-desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #f7f7f7;
}

.section-3-cont-2-desc button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    background-color: #8F0F7A;
    color: #f7f7f7;
    border: none;
    padding: 5px 17px;
    border-radius: 10px;
}

.paragh p {
    color: #f7f7f7;
    font-size: 14px;
}

/* ************section-four********************** */
.section-four {
    height: 100vh;
    background-color: #F6E8F4;
    position: relative;
}

.section-4-container {
    display: flex;
    flex-grow: row wrap;
    justify-content: space-around;
    width: 90%;
    margin-inline: auto;
    padding-top: 80px;
}

.section-4-cont-1-desc {
    display: flex;
    flex-grow: row wrap;
    flex-direction: column;
    gap: 25px;
    width: 480px;
    margin-left: 50px;
    padding-top: 80px;
}

.section-4-cont-1-desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.section-4-cont-1-desc h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.section-4-cont-1-desc button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    background-color: #8F0F7A;
    color: #f7f7f7;
    border: none;
    padding: 5px 17px;
    border-radius: 10px;
}

.section-4-img-1 {
    /* margin-right: 100px; */
}

.section-4-cont-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px #21051C;
    /* margin-right: 100px; */
}

.section-4-cont-2 img {
    width: 100%;
    height: 100%;
}

.three-img1 {
    position: absolute;
    bottom: 65px;
    right: 200px;
    width: 230px;
    height: 230px;
    box-shadow: 2px 2px 5px 1px #21051C;
    border-radius: 50%;
}

.three-img1 img {
    width: 100%;
    height: 100%;
}

.three-img2 {
    position: absolute;
    bottom: 20px;
    right: 350px;
    width: 230px;
    height: 230px;
    box-shadow: 2px 2px 5px 1px #21051C;
    border-radius: 50%;
}

.three-img2 img {
    width: 100%;
    height: 100%;
}

/* *******************section five************************ */
.section-five {
    /* height: 460px; */
    background-color: #8F0F7A;
    text-align: center;
    padding-bottom: 80px;
}

.section-five .sec-five-para {
    padding-block: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #f7f7f7;
}

.section-5-desc .section-5-firstpara {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #f7f7f7;
}

.section-5-desc .section-5-secondpara {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f7f7f7;
    line-height: 1.6;
}

.section-five-containers {
    display: flex;
    flex-grow: row wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 0px;
    transition: 0.3s;
}

.section-5-cont-items {
    /* padding-block: 20px; */
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 5px 0px;
    transition: 0.5s;
}
.section-5-cont-items:hover {
    /* transform: scale(1,2); */
    transform: translate(0px, -10px);
}

.section-5-desc {
    padding-top: 20px;
    text-align: left;
    padding-left: 15px;
    width: 230px;
}

.section-5-firstpara {
    padding-block: 20px;
}

/* *****************section six************************ */
.section-six{
    padding-bottom: 50px;
}
.section-six-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-6-sub-container {
    width: 85%;
    margin: auto;

}
.section-6-slide-img {
    margin-left: 50px;
    margin-block: 20px;
    transition: all 0.5s;
}
.section-6-slide-img img{
    box-shadow: 0px 0px 5px 3px #21051C;
    border-radius: 50%;
    
}
.section-6-slide-img:hover img{
    transform: scale(1.1);
        overflow: hidden;
    
}

.section-six h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #8F0F7A;
    padding-top: 50px;

}
.section-six h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 60px;
    /* text-align: center; */
}

.tns-nav {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tns-nav button {
    height: 13px;
    width: 13px;
    background: #a5a5a5;
    border: none;
    margin-left: 7px;
    border-radius: 50%;
}

.tns-nav .tns-nav-active {
    background-color: #8F0F7A;
}

/* *************section seven************ */

.section-seven {
    background-color: #21051C;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-seven-container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 500px;
    height: 280px;
    box-shadow: 1px 1px 5px 1px #8F0F7A;
}

.photos {
    width: 280px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateY(-50%);
    opacity: 0.3;
}
.section-seven-container-desc {
    color: #f7f7f7;
    text-align: center;
}



/* **********footer*********** */
footer {
    height: 200px;
    background-color: #8F0F7A;
}

.mayrie {
    border-bottom: 2px solid #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F6E8F4;
}

.shop {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F6E8F4;
}

.small-logos {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.foter-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
}
/* *****************media query********************* */
@media(max-width:1029px) {

.cont-1-desc {
        /* width: 300px; */
    }
.cont-1-desc p{
        width: 320px;
    }
    .cont-1-desc p {
        font-size: 18px;
    }

    .cont-1-desc h1 {
        font-size: 50px;
    }

/* **********chapter three********* */

.girly-image2 {
    top: 250px;
    left: 250px;
    
}
.section-3-container {
    width: 90%;
    margin-inline: auto;
    padding-top: 80px;
}

.section-3-cont-2-desc {
    width: 320px;
    margin-left: 50px;
    padding-top: 50px;
}

/* ************section four************* */

.section-4-cont-1-desc{
    width: 380px;
}
.section-4-cont-1-desc p{
    font-size: 18px;
}
.section-4-cont-1-desc h4{
    font-size: 16px;
}
.section-4-cont-2 {
    width: 220px;
    height: 220px;
    
}
.three-img1 {
    bottom: 200px;
    right: 130px;
    width: 210px;
    height: 210px;
}
.three-img2 {
    bottom: 100px;
    right: 260px;
    width: 210px;
    height: 210px;
}
/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}
.section-5-cont-items {
    width: 400px;
    height: 250px;
}
.section-5-desc {
    width: 400px;
}

}

@media(max-width:1022px) {

.logo2 {
        display: none;
    }

.cont-1-desc p{
        width: 320px;
        font-size: 18px;
    }
.cont-1-desc h1{
        font-size: 50px;
    }

/* **************section two****************** */

.section-2-cont-1-desc {
    gap: 15px;
    width: 300px;
}
/* **********chapter three********* */

.section-3-cont-2-desc {
    width: 280px;
}
/* ************section four************* */
.section-four{
    height: 600px;
}
.section-4-cont-1-desc {
    width: 300px;
}
.section-4-cont-1-desc p , h4{
    width: 300px;
}

.section-4-container {
    margin-left: 80px;
}
.section-4-cont-2 {
    margin-right: 70px;
}
.three-img1 {
    bottom: 140px;
    right: 130px;
    width: 210px;
    height: 210px;
}


.three-img2 {
    bottom: 0px;
    right: 260px;
    width: 210px;
    height: 210px;
}
/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-5-cont-items {
    width: 350px;
    height: 250px;
}

.section-5-desc {
    width: 300px;
}
/* *************section seven************ */

}


@media(max-width:800px){
    .navbar .navbar-links, .navbar .action-btn{
        display: none;
    }

.menu-icon {
    display: block;
    z-index: 1000;
}
.dropdown_menu {
    display: block;
    overflow-x: hidden;
}

/* *************section*one*************** */
.logo2 {
    display: none;
}
.cont-1-desc h1 {
    width: 300px;
    margin: 0px;
}

.cont-1-desc p {
    width: 290px;
    margin: 0px;
}

.image-container {
    right: 1px;
}

/* ****************section two********************** */

.section-2-container {
    margin-left: 50px;
    gap: 50px;
}

/* ************section-three********************** */

.section-three {
    height: 560px;
}

.girly-image2 {
    left: 180px;
}

.section-3-container {
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 60px;
}

.section-3-cont-2-desc {
    width: 230px;
    padding-top: 30px;
}
/* ************section-four********************** */

header{
    margin: 0px;
}
.section-four {
    height: 600px;
    margin-left: 0px;
}

.section-4-container {
    justify-content: space-between;
    margin-left: 0px;
    padding-top: 30px;
    gap: 50px;
}

.section-4-cont-2 {
    margin-top: 50px;
}
.section-4-cont-1 {
    margin-left: 20px;
}
.three-img1 {
    bottom: 150px;
    right: 80px;
}

.three-img2 {
    bottom: 40px;
    right: 200px;
}
/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-5-cont-items {
    width: 300px;
    height: 250px;
}

.section-5-desc {
    width: 270px;
}

/* *****************section six************************ */

.section-6-slide-img {
    margin-left: 70px;
}
}


@media (max-width:701px) {
header{}
    /* *************section*one*************** */
    .section-one {
            padding-top: 50px;
        }
    .section-one-container {
        display: flex;
        flex-direction: column;
    }
    .section-1-cont-1 {
        width: 100%;
        height: 401px;
        margin-top: 15px;
    }
    .section-1-cont-2 {
        width: 100%;
        height: 425px;
    }
    .cont-1-desc {
        gap: 40px;
        margin-top: 40px;
        text-align: center;
        width: 380px;
        margin-inline: auto;
    }
    .cont-1-desc h1 {
        font-size: 30px;
        padding-bottom: 20px;
        width: 300px;
        margin-inline: auto;
    }
    .cont-1-desc p {
        width: 320px;
        margin-inline: auto;
        font-size: 20px;
    }
    .cont-1-desc button {
        width: fit-content;
        margin-inline: auto;
    }
    .logo2 {
        display: none;
    }
    .image-container {
        top: -100px;
        left: 50%;
        transform: translateX(-50%, -100%);
    }

/* ****************section two********************** */
.section-two {
    height: fit-content;
}

.section-2-container {
    flex-direction: column;
    margin-left: -30px;
    padding-top: 1px;
}

.section-2-cont-1-desc {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 350px;
    margin-left: 50px;
}

.section-2-image {
    margin-top: -50px;
    margin-left: 130px;
    margin-bottom: 50px;
}
/* ************section-three********************** */
.section-three {
    height: fit-content;
}

.section-3-container {
    width: 80%;
    margin-inline: auto;
}
.girly-image2 {
    top: 280px;
    left: 150px;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.section-3-cont-2-desc {
    padding-block: 50px;
    margin-left: -50px;
    width: 380px;
}

.section-3-cont-2-desc .paragh {
    font-size: 14px;
    padding-top: 30px;
}

/* ************section-four********************** */
.section-four {
    height: 900px;
    padding-bottom: 100px;
}

.section-4-container {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    padding-top: 1px;
}

.section-4-cont-1-desc {
    width: 370px;
    margin-left: 20px;
    padding-top: 60px;
}

.section-4-cont-2 {
    width: 210px;
    height: 210px;
    margin-left: 180px;
    margin-top: -50px;
}

.three-img1 {
    bottom: 200px;
    right: 180px;
    width: 200px;
    height: 200px;
}

.three-img2 {
    bottom: 50px;
    right: 150px;
    width: 210px;
    height: 210px;
}

/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-5-cont-items {
    width: 400px;
    height: 200px;
}

.section-5-desc {
    width: 400px;
}

/* *****************section six************************ */

.section-6-slide-img {
    margin-left: 88px;
}
/* section seven */

.section-seven-container1 {
    width: 380px;
    height: 260px;
}

.photos {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 22%;
    opacity: 0.3;
}

}

@media (max-width:400px) {

    /* *************section*one*************** */

.cont-1-desc {
    width: 375px;
}
.section-one {
        padding-top: 50px;
    }
    .section-1-cont-2 {
        height: 430px;

    }

    .cont-1-desc p {
        width: 350px;
    }
.section-1-cont-1 {
    width: 100%;
    height: 401px;
    margin-top: 15px;
}

.section-1-cont-2 {
    width: 100%;
    height: 425px;
}


/* ************section-three********************** */
.section-3-cont-2-desc {
    margin-left: -60px;
    width: 340px;
    padding-left: 15px;
}
/* ************section-four********************** */
.section-four {
    height: fit-content;
    padding-bottom: 100px;
}

.section-4-container {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    padding-top: 1px;
}

.section-4-cont-1-desc {
    width: 300px;
}

.section-4-cont-2 {
    width: 210px;
    height: 210px;
    margin-top: 50px;
}

.three-img1 {
    bottom: 10px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.three-img2 {
    bottom: 20px;
    right: 100px;
    width: 210px;
    height: 210px;
}

/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-5-cont-items {
    width: 300px;
    height: 250px;
}

.section-5-desc {
    width: 280px;
}
/* *****************section six************************ */

.section-6-slide-img {
    margin-left: 70px;
}

/* section seven */
.section-seven-container1 {
    width: 350px;
    height: 260px;
}

.photos {
    width: 200px;
    height: 200px;
}

}
@media (max-width:390px) {

.cont-1-desc {
    width: 310px;
}
.cont-1-desc p{
    width: 310px;
}
/* section two */
.section-2-cont-1-desc{
    width: 300px;
}
/* section three */
.section-3-cont-2-desc{
    width: 300px;
}

.girly-image1{
    margin-left: -20px;
}
.girly-image2 {
    top: 280px;
    left: 100px;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

/* ************section-four********************** */
.section-four {
    height: 900px;
    padding-bottom: 100px;
}

.section-4-container {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    padding-top: 1px;
}

.section-4-cont-1-desc {
    width: 280px;
    margin-left: 20px;
}


.section-4-cont-1-desc p {
    width: 280px;
}

.section-4-cont-1-desc h4 {
    width: 280px;
}
.section-4-cont-2 {
    margin-left: 70px;
}
.section-4-cont-2 {
    width: 210px;
    height: 210px;
    margin-left: 100px;
    margin-top: -50px;
}

.three-img1 {
    bottom: 200px;
    left: 50px;
}

.three-img2 {
    bottom: 50px;
    right: 20px;
}
/* *************section seven************ */
.section-seven-container1 {
    width: 260px;
    height: 260px;
}

.photos {
    width: 200px;
    height: 240px;
    left: 13%;
}

/* *****************section six************************ */

.section-6-slide-img {
    margin-left: 60px;
}
}

@media (max-width:320px) {

    .header {
        /* max-width: 320px; */
    }

    /* *************section*one*************** */
        .cont-1-desc{
            width: 320px;
        }
    .cont-1-desc h1 {
        width: 300px;
        margin-left: 10px;
    }

    .cont-1-desc p {
        width: 280px;
        margin-left: 5px;
    }

    .cont-1-desc button {
        margin-left: 15%;
    }

    .section-1-cont-2{
        width: 280px;
    }
/* ****************section two********************** */


.section-2-cont-1-desc {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 260px;
    margin-left: 50px;
}

.section-2-image {
    margin-top: -50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

/* ************section-three********************** */
.section-3-cont-2-desc {
    width: 270px;
    padding-left: 15px;
}

.section-3-cont-1{
    margin-left: -50px;
}
.girly-image2 {
    top: 200px;
    left: 70px;
}
.girly-image1 {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px #8F0F7A;
    border-radius: 50%;
    margin-left: 30px;
}
/* ************section-four********************** */

.section-4-cont-1-desc {
    width: 250px;
}
.section-4-cont-1-desc p{
    width: 250px;
}
.section-4-cont-1-desc h4{
    width: 250px;
}

.section-4-cont-2 {
    margin-left: 70px;
}

.three-img1 {
    bottom: 170px;
    left: 50px;
}

.three-img2 {
    bottom: 40px;
    right: 40px;
}
/* *******************section five************************ */

.section-five-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-5-cont-items {
    width: 260px;
    height: 250px;
}

.section-5-desc {
    width: 220px;
}

/* *************section seven************ */

.section-seven-container1 {
    width: 220px;
    height: 260px;
}

.photos {
    width: 200px;
    height: 220px;
    left: 5%;
}

/* *****************section six************************ */

.section-6-slide-img {
    margin-left: 38px;
}
}


#preloader {
    background-color: #000;
    background-image: url('/images/excited-loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}




