*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section,
footer {
    flex-shrink: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    position: relative;
    z-index: 5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 1rem;
}
a:hover{
    color: blue;
}

header{
    background-color: #F5F5F5;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0;
    padding: 0 2rem;
    width: 100%;
    z-index: 100;
}

.navbar{
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.action-btn {
    padding: 7px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-right: 40px;
    cursor: pointer;
}

a button {
    color: blue;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    color: blue;
    font-size: 26px;
}

.icons {
    font-size: 2.8rem;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    color: blue;
    /* z-index: -1; */
}


/* dropdown_menu */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    height: 600px;
    background: #260620;
    backdrop-filter: blur(15px);
    transition: 0.5s;
    overflow: hidden;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu a{
    color: #fff;
}
.dropdown_menu a:hover{
    color: blue;
}
.dropdown_menu .action-btns{
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.action-btns a{
    color: #fff;
}

/* *************section*one*************** */
.section-one {
    padding-top: 70px;
}

.section-one-container {
    display: flex;
    position: relative;
    max-width: 100%;
}

.section-1-cont-1 {
    background-color: #8F0F7A;
    width: 75%;
    height: 520px;
    position: relative;
}

.section-1-cont-2 {
    position: relative;
    background-color: #F6E8F4;
    width: 27%;
    height: 520px;
}

.cont-1-desc {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-inline: auto;
    margin-top: 60px;
}


.cont-1-desc h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 56.69px;
    color: #f7f7f7;
    padding-bottom: 20px;
}

.cont-1-desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 500px;
    color: #f7f7f7;
}

.cont-1-desc button {
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 2px;
    border: none;
}

.logo2 {
    width: 80px;
    height: 30px;
}

.image-container {
    background-color: transparent;
    width: 300px;
    height: 435px;
    box-shadow: 0px 0px 5px 0px;
    z-index: 50;
    position: absolute;
    top: 45px;
    right: 190px;
}

.image-container img {
    width: 280px;
    height: 435px;
}

/* *****************media query********************* */
@media(max-width:1029px) {
    /* section one */

.cont-1-desc {
        width: 300px;
    }
.cont-1-desc p{
        width: 380px;
    }
    .image-container {
        right: 80px;
    }
    .cont-1-desc p {
        font-size: 18px;
    }

    .cont-1-desc h1 {
        font-size: 50px;
    }
}
@media(max-width:1022px) {
    /* section one */
.logo2 {
        display: none;
    }
.cont-1-desc {
        width: 300px;
        display: flex;
        /* flex-wrap: wrap; */
    }
.cont-1-desc p{
        width: 320px;
        /* font-size: 18px; */
    }
.cont-1-desc h1{
        /* font-size: 50px; */
    }

    .image-container {
        right: 80px;
    }
}
@media(max-width:800px){
    .navbar .navbar-links, .navbar .action-btn{
        display: none;
    }

.menu-icon {
    display: block;
    z-index: 1000;
}
.dropdown_menu {
    display: block;}

/* *************section*one*************** */
.logo2 {
    display: none;
}

.cont-1-desc {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.cont-1-desc h1 {
    width: 300px;
    margin: 0px;
}

.cont-1-desc p {
    width: 290px;
    margin: 0px;
}

.image-container {
    right: 1px;
}

}

@media (max-width:550px) {

    /* *************section*one*************** */
    .section-one {
            padding-top: 50px;
        }
    .section-one-container {
        display: flex;
        flex-direction: column;
    }
    .section-1-cont-1 {
        width: 100%;
        height: 401px;
        margin-top: 15px;
        /* padding-top: 50px; */
    }
    .section-1-cont-2 {
        width: 100%;
        height: 425px;
    }
    .cont-1-desc {
        gap: 40px;
        margin-top: 40px;
        text-align: center;
        width: 380px;
        margin-inline: auto;
    }
    .cont-1-desc h1 {
        font-size: 30px;
        padding-bottom: 20px;
        width: 300px;
        margin-inline: auto;
    }
    .cont-1-desc p {
        width: 380px;
        margin-inline: auto;
        font-size: 20px;
    }
    .cont-1-desc button {
        width: fit-content;
        margin-inline: auto;
    }
    .logo2 {
        display: none;
    }
    .image-container {
        top: -100px;
        right: 62px;
    }
}

@media (max-width:400px) {

    /* *************section*one*************** */
header{
    max-width: 400px;
}

.section-one {
        padding-top: 50px;
    }
    .section-1-cont-2 {
        height: 430px;

    }

    .cont-1-desc p {
        width: 350px;
    }
.section-1-cont-1 {
    width: 100%;
    height: 401px;
    margin-top: 15px;
    overflow-x: hidden;
}

.section-1-cont-2 {
    width: 100%;
    height: 425px;
    /* overflow-x: hidden; */
}

.image-container {
    top: -100px;
    right: 35px;
}
    
}
@media (max-width:390px) {
.image-container {
    top: -80px;
    right: 45px;
}
}
@media (max-width:320px) {

    .header {
        max-width: 320px;
    }

    /* *************section*one*************** */

    .cont-1-desc h1 {
        width: 300px;
        margin-left: 10px;
    }

    .cont-1-desc p {
        width: 300px;
        margin-left: 5px;
    }

    .cont-1-desc button {
        margin-left: 15%;
    }

.image-container {
    top: -80px;
    right: 10px;
}
}